*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.first{
    text-align: center;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    padding: 15rem 0;
    background-position: center;
    background-size: cover;
    
}

.first h1{
    color: #212529;
    font-size: 88px;
}

.first h3{
    color: #212529;
    font-size: 28px;
    font-style: italic;
    margin-bottom: 50px;
}


.first a{
    background-color: #1d809f;
    padding: 20px 40px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    
}

.first a:hover{
    background-color: #17667f;
}


.second{
    text-align: center;
    padding: 8rem;
    background-color: aliceblue;
}


.second h2{
    color: #212529;
    margin: 0px 0px 24px;
    font-size: 32px;
}

.second p{
    color: #212529;
    font-size: 20px;
    margin-bottom: 60px;
    opacity: 0.8;
}


.second p a{
    color: #1d809f;
    text-decoration: underline;
    font-size: 20px;
}

.second p a:hover{
    color: #17667f;
}
 

.second>a{
    background-color: black;
    padding: 20px 40px;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 1s;
}

.second>a:hover{
    background-color:#424649 ;
}

.third{
    text-align: center;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
    padding: 21rem;
    margin-bottom: 1rem;
    background-position: center;
    background-size: cover;
}

.third span{
    font-style: italic;

}
.third h2{
    color: #212529;
    font-size: 70px;
    margin: 0px 25px 48px ;
}

.third a{
    background-color: #1d809f;
    padding: 20px 40px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.third a:hover{
    background-color: #196d87;
}

.fourth{
    text-align: center;
    background-color: rgba(29,128,159,1);
    color: #fff;
    padding: 120px 0px;
    margin-top: 5 rem;
}


.fourth h2 {
    color: #FFFFFF;
    font-size: 32px;
    margin: 0px 0px 40px;
}


.fourth a:nth-child(2){
    color:#000000;
    font-size: 16px;
    background: #F8F9FA;
    margin: 0px 24px 0px 0px;
    padding: 20px 40px;
    font-weight: bold;
    border-radius: 5px;
}

.fourth a:nth-child(2):hover{
    background-color: #d3d4d5;
}

.fourth :last-child{
    color:#fff;
    font-size: 16px;
    background: #212529;
    padding: 20px 40px;
    font-weight: bold;
    border-radius: 5px;
}

.fourth :last-child:hover{
    background-color: #424649;
}

.maps iframe{
    width: 100%;
    color: #000000;
    font-size: 100px;
}

.copyright-text{
    margin: 40px 0px 60px;
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
}

